
@import '../../../node_modules/highlight.js/styles/atom-one-dark.css';
.articleConent{
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 65%;
    margin-left: 20%;
    margin-top: 10px;
    /*position:absolute;*/
    background-color: #d9d9d9;
}
.title{
    text-align: center;
    margin: 10px;
}
.articleShow{
    /*border: 1px solid #d9d9d9;*/
    width: 90%;
    margin-left: 5%;
}

.data{
    display: inline-block;
    margin-left: 10px;
}

.header{
    height:60px;
    background:#e6f7ff;
    border: 1px solid #d9d9d9;
}
.l1 {
    margin-top: 15px;
}
.articleShow pre {
    background: #fafafa
}
.Anchor{
    position: absolute;
    width: 20%;
    top: 150px;
    padding-left: 10px;
}
.Anchor h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.messageLayout{
    width: 65%;
    margin-left: 20%;
    margin-top: 10px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    border-radius: 4px;
}

.Item{
    position: relative;
    flex-shrink: 0;
    padding: 12px 20px 10px;
    font-size: 15px;
}
.ItemMeta{
    position: relative;
    height: 24px;
    padding-right: 3px;
    padding-left: 1px;
    margin-bottom: 4px;
    line-height: 24px;
}

.messageUser{
    display: inline;
    padding-left: 10px;
}

.messageConnect{
    position: relative;
    flex-shrink: 0;
    padding: 0px 60px 10px;
    font-size: 15px;
}

.time{
    float: right;
    font-size: 14px;
    color: #8590A6;
}

.btnZan {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.016);
    margin: 50px auto;
    background: rgb(64, 169, 255);
    cursor: pointer;
    box-shadow: rgb(64, 169, 255) 0px 1px 20px;
}

.btnZan :hover{
    transform: scale(1.4)
}
.text {
    display: block;
    color: rgb(255, 255, 255);
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 40px;
}

.zanText{
    font-size: 50px
}

.YizanText{
    font-size: 30px
}
.articleShow img {
    width: 100%;
}
